* {
    margin: 0;
    padding: 0;
    color: #494337;
    box-sizing: border-box;
    font-family: "Libre Baskerville", "Noto Sans Thai", serif;
}

html, body {
    height: 100%;
    margin: 0;
    padding: 0;
}

.container {
    display: flex;
    min-height: 100vh;
    align-items: stretch;
}

.main-content {
    flex: 1;
    min-height: 100vh;
    padding: 60px 90px;
    align-items: stretch;
}

.top-row {
    display: flex;
    gap: 20px;
    align-items: stretch;
    margin-top: 37px;
}

.form-box {
    background-color: #fff;
    border-radius: 10px;
    min-width: 964px;
}

.form {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.form label {
    flex-direction: column;
    font-size: 24px;
    color: #6D6553;
}

.form input {
    padding: 10px;
    border: 1px solid #6D6553;
    border-radius: 4px;
}

.form-container {
    display: flex;
    gap: 20px;
    align-items: flex-start;
    margin-top: 20px;
}

.cover-wrapper{
    display: flex;
    flex-direction: column;
}

.cover-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
}

#coverInput{
    display:none;
}

.cover-placeholder {
    width: 180px;
    height: 240px;
    border: 2px dashed #ccc;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 10px;
    border-radius: 5px;
    position: relative;
}

#coverPreview {
    display: none; 
    width: 180px;
    height: 240px;
    object-fit: cover;
    border-radius: 5px;
    position: absolute;
}


#insertPhotoBtn {
    margin-top: auto;
    padding: 8px 5px;
    width: 180px;
    height: 47px;
    font-size: 20px;
    font-weight: 700;
    color: #92866E;
    background-color: #FFFEFA;
    border: 1px solid #B6A88A;
    border-radius: 4px;
    cursor: pointer;
}

.fields-section {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    flex: 1;
    padding-left: 50px;
}

.fields-section label {
    display: flex;
    justify-content: space-between;
}

.fields-section input {
    width: 100%; 
    height: 47px;
}

.fields-wrapper {   
    display: flex;
    width: 100%; 
    gap: 20px;
}

.field-group {
    display: flex;
    flex-direction: column;
    flex: 1;
    gap: 5px;       
}

.field-group input,
.field-group select {
    width: 100%;
    height: 47px;
    padding: 10px;
    border: 1px solid #6D6553;
    border-radius: 4px;
}

#categoryInput{
    display: none;
}

.info-fields {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    gap: 10px;
    flex: 1;
}

.bottom-row {
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin-top: 10px;
}

textarea{
    width: 100%;
    height: 150px;
    border: 1px solid #6D6553;
    border-radius: 4px;
}

.bottom-row select{
    width: 232px;
    height: 47px;
    border: 1px solid #6D6553;
    border-radius: 4px;
}

.button-row {
    text-align: right;
    margin-top: 10px;
}

button {
    justify-content: end;
    padding: 10 20px;
    width: 161px;
    height: 50px;
    font-size: 24px;
    background-color: #B6A88A;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    box-shadow: 0 6px 8px rgba(0, 0, 0, 0.3);
}