*{margin:0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Libre Baskerville", "Noto Sans Thai" , serif;
    color: #6D6553;
}

.container {
    display: flex;
    min-height: 100vh; 
}

.main-content {
    flex: 1;
    padding: 30px 90px;
}

.book-list{
    display: flex;
    align-items: center;
    gap: 50px;
}

.book-card{
    display: flex;
    width: 80%;
    min-width: 800px;
    min-height: 160px;
    border-radius: 10px;  
    gap: 20px;
}

.info{
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 10px;
}
.book-list img{
    width: 120px;
    height: 160px;
}

.stock-book{
    display: flex;
    gap: 10px;
}

.stock-book i{
    display: flex;
    color: #B6A88A;
}