* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Libre Baskerville", "Noto Sans Thai", serif;
    color: #494337;
}

.container {
    display: flex;
    min-height: 100vh;
    min-height: 100vh;
    align-items: stretch;
}

/* Main content */
.main-content {
    flex: 1;
    padding: 60px 90px;
}

.book-list {
    display: flex;
    flex-direction: column;
    gap: 30px;
}

.delete-book{
    display: flex;
    align-items: center;
    gap: 10px;
}

.delete-book-icon {
    font-size: 1.5em;
    cursor: pointer;
}

/* Card ของแต่ละหนังสือ */
.book-card {
    display: flex;
    align-items: center;
    justify-content: space-between; /* จัดปุ่มอยู่ด้านขวา */
    width: 100%;
    min-width: 800px;
    min-height: 160px;
    padding: 15px 20px;
    border-radius: 10px;
    background-color: #fff;
    box-shadow: 0 4px 8px rgba(0,0,0,0.05);
    gap: 20px;
}

/* Cover รูปหนังสือ */
.book-card img {
    width: 120px;
    height: 160px;
    object-fit: cover;
    border-radius: 5px;
}

/* ข้อมูลหนังสือ */
.info {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 8px;
    flex: 1; /* ให้ขยายเต็มพื้นที่ */
}

.info .title {
    font-size: 20px;
    font-weight: bold;
}

.info .author,
.info .price {
    font-size: 16px;
}

/* ปุ่ม + / - จำนวน */
.stock-book {
    display: flex;
    align-items: center;
    gap: 10px;
}

.stock-book i {
    font-size: 24px;
    color: #B6A88A;
    cursor: pointer;
    transition: transform 0.2s;
}

.stock-book i:hover {
    transform: scale(1.2);
}

/* จำนวน */
.stock-book .quantity {
    min-width: 30px;
    text-align: center;
    font-size: 16px;
}
